.list{
    overflow-y: scroll;
    height: 80vh;
}
.list > li{
    padding: 0.5rem;
    width: 350px;
    border-bottom: 0.2px dotted black;
}
.list > li:hover{
    background-color: rgba(100, 148, 237, 0.514);
    padding: 0.5rem;
    cursor: pointer;

}
.list::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px cornflowerblue;
    border-radius: 5px;
  }
  .search-bar{
    position: fixed;
    z-index: 999;
    top: 0;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.8);
  }
  .search-bar input{
    width: 99%;
    border-radius: 3px;
    border: 1px solid black;
padding-left: 0.5rem;  

  
}
.search-bar input::placeholder{
padding-left: 0.2rem;  
}
  .search-bar input:hover{
    width: 99%;
    border: none;
  }
  .search-bar input:active{
    width: 99%;
  }
  .route{
    width: 250px;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 1px;
    font-weight: 500;
    background: rgba(29, 45, 75, 0.601);
    border: none;
  }
  .get-location{
    position: fixed;
    z-index: 999;
    right: 0;
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255, 0.8);
   box-shadow: 0 0 5px #000;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
  }
  .loading{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;




  }
 